{% extends 'base.html.twig' %}

{% block title %}{{ 'login.title'|trans }}{% endblock %}

{% block nav %}
    {% include 'partials/_sidebar.html.twig' %}
{% endblock %}

{% block main %}
    <div class="my-20 lg:my-40 lg:ml-64 px-4">
        <form method="post" class="w-full max-w-sm mx-auto p-8 rounded-md shadow-lg bg-white">
            {% if error %}
                <div class="bg-red-100 text-red-600 p-3 rounded mb-4 text-sm">
                    {{ error.messageKey|trans(error.messageData, 'validators') }}
                </div>
            {% endif %}

            <h1 class="text-lg font-semibold text-gray-700 mb-6 text-center">{{ 'login.title'|trans }}</h1>

            <div class="mb-4">
                <label for="username" class="block text-gray-600 mb-1">{{ 'email'|trans }}</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" placeholder="{{ 'auth.email_placeholder'|trans }}" class="w-full p-2 border rounded-lg focus:outline-none focus:ring focus:ring-blue-200" autocomplete="email" required autofocus>
            </div>

            <div class="mb-4">
                <label for="password" class="block text-gray-600 mb-1">{{ 'user.password_label'|trans }}</label>
                <input type="password" name="_password" id="password" placeholder="{{ 'auth.password_placeholder'|trans }}" class="w-full p-2 border rounded-lg focus:outline-none focus:ring focus:ring-blue-200" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="w-full bg-blue-600 text-white p-2 rounded-lg hover:bg-blue-700 focus:ring focus:ring-blue-200">
                {{ 'login.submit'|trans }}
            </button>

            <div class="text-center mt-3 text-sm text-gray-600">
                <p>{{ 'login.no_account'|trans }} <a href="{{ path('app_register') }}" class="text-blue-600 hover:underline">{{ 'login.register_here'|trans }}</a></p>
            </div>
        </form>
    </div>
{% endblock %}