<ul class="flex flex-col gap-y-2 bg-white text-gray-600">
    <li>
        <a href="{{ path('app_home') }}" class="block px-6 py-2 hover:bg-gray-50 hover:text-gray-800">{{ 'nav.home'|trans }}</a>
    </li>

    {% if is_granted('USER_INDEX') %}
        <li>
            <a href="{{ path('app_user_index') }}" class="block px-6 py-2 hover:bg-gray-50 hover:text-gray-800">{{ 'nav.users'|trans }}</a>
        </li>
    {% endif %}

    <li>
        <a href="{{ path('app_product_index') }}" class="block px-6 py-2 hover:bg-gray-50 hover:text-gray-800">{{ 'nav.products'|trans }}</a>
    </li>

    {% if true %}
        <li>
            <a href="#" class="block px-6 py-2 hover:bg-gray-50 hover:text-gray-800">{{ 'nav.clients'|trans }}</a>
        </li>
    {% endif %}

    <hr class="my-1 border-gray-200">

    <li>
        {% if app.user %}
            <a href="{{ path('app_logout') }}" class="block px-6 py-2 hover:bg-gray-50 hover:text-gray-800">{{ 'nav.logout'|trans }}</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="block px-6 py-2 hover:bg-gray-50 hover:text-gray-800">{{ 'nav.login'|trans }}</a>
        {% endif %}
    </li>
</ul>