{% extends 'base.html.twig' %}

{% block title %}{{ 'details'|trans }}{% endblock %}

{% block main %}
    <div class="min-h-screen bg-gray-100 p-6">
        <div class="max-w-4xl mx-auto bg-white shadow-md rounded-lg p-6">
            <h1 class="text-2xl font-semibold text-gray-700 mb-6">{{ 'user.details'|trans({ '%fullname%': user.fullname }) }}</h1>

            <table class="w-full table-auto border-collapse border border-gray-200">
                <tbody class="divide-y divide-gray-200">
                    <tr class="text-sm text-gray-700 hover:bg-gray-50">
                        <th class="p-4 border border-gray-200 bg-gray-100 text-left text-sm text-gray-600">{{ 'user.email'|trans }}</th>
                        <td class="p-4 border border-gray-200">{{ user.email }}</td>
                    </tr>
                    <tr class="text-sm text-gray-700 hover:bg-gray-50">
                        <th class="p-4 border border-gray-200 bg-gray-100 text-left text-sm text-gray-600">{{ 'user.lastname'|trans }}</th>
                        <td class="p-4 border border-gray-200">{{ user.lastname }}</td>
                    </tr>
                    <tr class="text-sm text-gray-700 hover:bg-gray-50">
                        <th class="p-4 border border-gray-200 bg-gray-100 text-left text-sm text-gray-600">{{ 'user.firstname'|trans }}</th>
                        <td class="p-4 border border-gray-200">{{ user.firstname }}</td>
                    </tr>
                    <tr class="text-sm text-gray-700 hover:bg-gray-50">
                        <th class="p-4 border border-gray-200 bg-gray-100 text-left text-sm text-gray-600">{{ 'user.roles'|trans }}</th>
                        <td class="p-4 border border-gray-200">
                            {% for role in user.roles %}
                                {{ role|lower|trans }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="mt-6">
                <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="bg-blue-600 text-white p-3 rounded-lg hover:bg-blue-700 focus:ring focus:ring-blue-200 mr-2">
                    {{ 'edit'|trans }}
                </a>

                <a href="{{ path('app_user_index') }}" class="bg-gray-500 text-white py-2 px-4 rounded-lg hover:bg-gray-600 focus:ring focus:ring-gray-200">
                    {{ 'back'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
